{
  "env": {
    "development": {
      "presets": ["@babel/env"],
      "plugins": ["angularjs-annotate"]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "forceAllTransforms": true,
            "targets": {
              "browsers": [
                "> 0.5%",
                "last 2 versions",
                "not ie <= 8",
                "Firefox ESR",
                "not dead"
              ]
            }
          }
        ]
      ],
      "plugins": ["angularjs-annotate"]
    },
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
